$light: 'MADE-Outer-Sans-Regular';
$regular: 'MADE-Outer-Sans-Regular';
$medium: 'MADE-Outer-Sans-Medium';
$bold: 'MADE-Outer-Sans-Bold';

@font-face {
    font-family: 'MADE-Outer-Sans-Light';
    src: url('../../fonts/MADE-Outer-Sans-Light-PERSONAL-USE.woff') format(woff),
        url('../../fonts/MADE-Outer-Sans-Light-PERSONAL-USE.woff2') format(woff2);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MADE-Outer-Sans-Regular';
    src: url('../../fonts/MADE-Outer-Sans-Regular-PERSONAL-USE.woff') format(woff),
        url('../../fonts/MADE-Outer-Sans-Regular-PERSONAL-USE.woff2') format(woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MADE-Outer-Sans-Medium';
    src: url('../../fonts/MADE-Outer-Sans-Medium-PERSONAL-USE.woff') format(woff),
        url('../../fonts/MADE-Outer-Sans-Medium-PERSONAL-USE.woff2') format(woff2);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MADE-Outer-Sans-Bold';
    src: url('../../fonts/MADE-Outer-Sans-Bold-PERSONAL-USE.woff') format(woff),
        url('../../fonts/MADE-Outer-Sans-Bold-PERSONAL-USE.woff') format(woff2);
    font-weight: 700;
    font-style: normal;
}