$light: 'Light';
$regular: 'Regular';
$medium: 'Medium';
$bold: 'Bold';

@font-face {
    font-family: 'Light';
    src: url('/style/fonts/Light.woff') format(woff),
        url('/style/fonts/Light.woff2') format(woff2);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Regular';
    src: url('/style/fonts/Regular.woff') format(woff),
        url('/style/fonts/Regular.woff2') format(woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Medium';
    src: url('/style/fonts/Medium.woff') format(woff),
        url('/style/fonts/Medium.woff2') format(woff2);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bold';
    src: url('/style/fonts/Bold.woff') format(woff),
        url('/style/fonts/Bold.woff2') format(woff2);
    font-weight: 700;
    font-style: normal;
}