.advantages {
    scroll-snap-align: start;

    padding: 30px 0px 30px 0px;
    background: rgba(34, 34, 34, 0.45);


    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }
}

.item__cont {
    margin-left: 30px;

    &_title {
        font-size: 18px;
        font-family: $montserrat;
        font-weight: 700;
        margin-bottom: 12px;
    }
}

// Media

// 1000
@media(max-width: 1000px) {
    .advantages__title {
        display: flex;
        justify-content: center;
    }
}

// 768
@media(max-width: 768px) {
    .advantages__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .my-row {
        display: flex;
        justify-content: center;
    }
}