.footer {
    scroll-snap-align: end;

    padding-bottom: 30px;
}

.my-footer-row {
    display: flex;
    justify-content: space-between;
}

.footer__gym_subtitle {
    max-width: 270px;
}

.footer_link_email {
    position: relative;
    margin-left: 14px;
}

.footer_link_phone {
    position: relative;
    margin-left: 10px;
}

// Media

// 768
@media(max-width: 768px) {
    .my-footer-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        row-gap: 30px;
    }

    .footer__gym_subtitle {
        text-align: center;
    }

    .footer-mob {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__address_subtitle {
        text-align: center;
    }
}